html body
{
    overflow-x: hidden;

    height: 100%;
    padding: 0;

    color: #484744;
    background: #f8f6f2;
}
body
{
    font-family: 'Helvetica Neue',helvetica,'lucida grande','lucida sans unicode',lucida,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
    font-size: 14px;

    height: 100%;

    color: #484744;
    background-color: #fff;
}
li
{
    list-style-type: none;
}
a
{
    text-decoration: none;

    color: #6f6e6b;
    outline: 0 none;
}
input,textarea{
    resize: vertical;
    padding: 6px 7px;
    font-size: 14px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 3px;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
input[type!=checkbox]
{
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
            appearance: none;
}
input[type=checkbox]
{
    border: none;
}
iframe{
	width: 100%;
	border-width: 0px;
}

/*取消和确认按钮*/
.btn-panel input{
    padding: 5px 30px;
    border: none;
    border-radius: 6px;
}
input.btn-confirm{
    background-color: #54d09f;
    color: #fff;
}

input.btn-cancel{
    background-color: #acaba7;
    margin-left: 10px;
    color: #fff;
}

input.btn-confirm:hover {
    background-color: #4dbe91;
    border-color: #4dbe91;
}

.pop-module{
    position: absolute;
    min-height: 400px;
    width: 600px;
    left: 50%;
    top: 10%;
    margin-left: -400px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
    overflow: hidden;
}

.business-panel
{
    position: absolute;
    top: 0;
    left: 200px;
    overflow: hidden;
    height: 100%;
    background-color: #f8f6f2;
}

.mask-module{
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/mask.png);
    /*opacity: .3;*/
    display: none;
}

.pop-module .sod_select .sod_list li {
    padding: 4px;
}

.pop-module .sod_select{
    padding: 4px;
    border-width: 1px;
    border-radius: 2px;
    border-color: #ccc;
    font-weight: normal;
    font-size: 16px;
}

.pop-module .sod_select:before, .pop-module .sod_select:after {
    top: 0px;
}

.pop-module .sod_select:after{
    bottom: 0px;
    top: auto;
}

.pop-module .sod_select .sod_list{
    border: 1px solid #ccc;
}

.pop-module .module-header{
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.pop-module .module-header h2{
    float: left;
    font-size: 22px;
    padding: 5px 0 5px 20px;
    font-weight: bold;
}

.pop-module .module-header i{
    float: right;
    font-size: 16px;
    padding: 15px 20px 5px 0px;
    font-weight: bold;
    cursor: pointer;
}

.pop-module .module-content{
    min-height: 354px;
    padding: 20px;
}

.pop-module .module-content .task-table{
    line-height: 40px;
    font-size: 16px;
}

.pop-module .module-content .task-table th{
    text-align: right;
    width: 100px;    
    vertical-align: top;
}

.pop-module .module-content .task-table td{
    text-align: left;
    width: 150px;
}

.pop-module .module-content .task-table td textarea{
    resize: vertical;
    height: 50px;
    padding: 6px 6px;
    font-size: 14px;
    width: 100%;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.pop-module .module-content .task-table input[type!=checkbox]{
    width: 130px;
}

.pop-module .module-content .btn-panel{
    padding-top: 25px;
    text-align: center;
}

.load-panel{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 200px;
    margin-top: -50px;
    margin-left: -100px;
    background-color: #666;
    color: #fff;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    font-size: 24px;
    display: none
}

.business-module .module-header
{
    width: 100%;
    height: 80px;

    background-color: #fff;
}

.business-module .module-header h2
{
    font-size: 20px;
    line-height: 24px;
    float: left;
    padding: 28px;
}

.business-module .module-header h2 i
{
    font-size: 18px;
    line-height: 24px !important;

    float: left;

    width: 28px;

    text-align: center;
}

.business-module .module-content
{
    width: 100%;
}

.business-module .nav_tab{
    line-height: 80px;
    height: 80px;
    margin-left: 28%;
    margin-right: 28%;
    width: 43%;
    white-space: nowrap;
    text-align: center;
}

.business-module .nav_tab ul{
    margin: 0px;
    padding: 0px;
    height: 80px;
}

.business-module .nav_tab ul li{
    position: relative;
    display: inline-block;
    margin: 0 5px 0 6px;
    padding: 0;    
    font-size: 16px;
    border-bottom: solid 2px transparent;
    padding: 14px 8px 29px 8px;
    color: #777;
    cursor: pointer;
}

.business-module .nav_tab ul li:hover{
    color: #484744;
}

.business-module .nav_tab ul li.active{
    color: #da4f4a;
    border-bottom-color: #da4f4a;
}

.module-content .report-panel{
    height: 100%;
    width: 100%;
}

.module-content .week-report{
    float: left;
    height: 78%;
    width: 30%;
    padding: 5% 10%;
}

.module-content .week-report h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10%;
}


/*日历控件样式*/
.fc-header .fc-button {
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: top;
}
.fc-view{
    height: 100%;
    overflow-y: auto;
}
.fc-border-separate{
    height: 100%;
}
.fc-event{
    height: 23px;
    line-height: 23px;
}