
#myTask .module-header
{
    width: 100%;
    height: 80px;

    background-color: #fff;
}

#myTask .module-header h2
{
    font-size: 20px;
    line-height: 24px;

    float: left;

    padding: 29px;
}

#myTask .module-header h2 i
{
    font-size: 18px;
    line-height: 24px !important;

    float: left;

    width: 28px;

    text-align: center;
}

#myTask .module-header .select-container
{
    float: right;

    padding: 20px;
}

#myTask .module-content
{
    width: 100%;
}

#myTask .module-content .task-panel
{
    padding-top: 20px;
}

#myTask .module-content .task-panel .task-container
{
    position: relative;

    float: left;

    width: 22%;
    min-height: 130px;
    margin-left: 20px;

    border-radius: 5px;
    background-color: #eeece8;
}

#myTask .module-content .task-panel .task-container .container-header
{
    height: 40px;
}

#myTask .module-content .task-panel .task-container .container-header h4
{
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;

    float: left;

    padding-left: 20px;

    color: #6f6e6b;
}

#myTask .module-content .task-panel .task-container .container-header .count
{
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;

    float: right;

    width: 40px;
    height: 40px;

    text-align: center;

    color: #bcb7af;
}

#myTask .module-content .task-panel .task-container .container-content
{
    min-height: 50px;
    margin: 0 7px;
    color: #b9b9b7;
}

#myTask .module-content .task-panel .task-container .container-content p
{
    line-height: 50px;
    text-align: center;
}

#myTask .module-content .task-panel .task-container .container-footer .new-task
{
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding-left: 20px;
    color: #bcb7af;
}

#myTask .module-content .task-panel .task-container .container-footer .new-task:hover
{
    cursor: pointer;
    color: #acaba7;
}

#myTask .module-content .task-panel .task-container .container-footer .entry-content
{
    padding: 8px 7px;
}

#myTask .module-content .task-panel .task-container .container-footer .entry-content input.task-title,
#myTask .module-content .task-panel .task-container .container-footer .entry-content textarea
{   
	resize: vertical;
    padding: 6px 5%;
    font-size: 14px;
    width: 90%;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#myTask .module-content .task-panel .task-container .container-footer .entry-content textarea.task-content
{
    height: 60px;
    margin-top: 5px;
}

#myTask .module-content .task-panel .task-container .container-footer .entry-content .btn-panel{
    height: 35px;
    line-height: 35px;
    margin-top: 7px;
    text-align: center;
}

#myTask .module-content .task-panel .task-container .container-content .task-content
{
    min-height: 50px;
    padding: 0 10px;
    padding-bottom: 8px;
	margin-top: 10px;
    border-radius: 3px;
    background-color: #fff;
    padding-left: 8px;
    border-left: 2px solid transparent;
}

#myTask .module-content .task-panel .task-container .container-content .task-content:first-child{
	margin-top: 0px
}

#myTask .module-content .task-panel .task-container .container-content .task-content:hover{
	border-left: 2px solid #222;
	cursor: pointer;
	background-color: #fbfbfb;
}

#myTask .module-content .task-panel .task-container .container-content .task-content .content-header
{
    line-height: 30px;

    height: 30px;

    color: #484744;
}

#myTask .module-content .task-panel .task-container .container-content .task-content .content-content
{
    line-height: 25px;

    float: left;

    min-height: 20px;
    margin-left: 20px;
}

#myTask .module-content .task-panel .task-container .container-content .task-content .content-content .important .icon-star
{
    color: red;
}

#myTask .module-content .task-panel .task-container .container-content .task-content .content-content div
{
    display: inline-block;

    margin-right: 15px;
}

#myTask .module-content .task-panel .task-container .container-content .task-content .content-content div:first-child
{
    margin-left: 0;
}

#myTask .module-content .task-panel .task-container .container-content .task-content .content-content .status-done
{
    line-height: 18px;

    height: 18px;
    padding: 0 5px;

    color: #fff;
    border-radius: 3px;
    background-color: #0aa770;
}

#myTask .module-content .task-panel .task-container .container-content .task-content .content-content .status-todo
{
    line-height: 18px;

    height: 18px;
    padding: 0 5px;

    color: #fff;
    border-radius: 3px;
    background-color: #e74c3c;
}

#newTask .module-header{
	height: 45px;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

#newTask .module-header h2{
	float: left;
    font-size: 22px;
    padding: 5px 0 5px 20px;
    font-weight: bold;
}

#newTask .module-header i{
	float: right;
    font-size: 16px;
    padding: 15px 20px 5px 0px;
    font-weight: bold;
    cursor: pointer;
}

#newTask .module-content{
	height: 354px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#newTask .module-content .task-table{
	line-height: 40px;
    font-size: 16px;
}

#newTask .module-content .task-table th{
	text-align: right;
    width: 100px;    
    vertical-align: top;
}

#newTask .module-content .task-table td{
	text-align: left;
    width: 150px;
}

#newTask .module-content .task-table td textarea{
	resize: vertical;
    height: 50px;
    padding: 6px 6px;
    font-size: 14px;
    width: 100%;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#newTask .module-content .task-table input[type!=checkbox]{
    width: 130px;
}

#newTask .module-content .btn-panel{
	padding-top: 25px;
    text-align: center;
}
